
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

body,
.menu {
    background-color: black;
}


footer{
    background-color: rgb(11, 21, 35);
}

footer .icon{
    background-color: rgb(11, 21, 35);
    border-color: rgb(11, 21, 35);
}

li{
    list-style-type: none;
}

.card-depoimentos {
    background-color: rgb(32, 42, 60);
    box-shadow:  rgb(42, 52, 71);
}
.caixa-depoimentos{
    margin-bottom: 250px;
}

h6{
    color: white;
}

p{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 30px;
    text-align: justify;
}

h4{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: justify;
}

.title {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
}

.link {
    color: rgb(56, 56, 248);
    text-decoration: underline;
}
.description {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.input-text {
    border-radius: 50px;
    padding: 20px 15px;
}

.img-onda {
    position: absolute;
    z-index: 1;
}

.col {
    background-color: aquamarine;
}

.aspas {
    position: absolute;
    z-index: 1;
}

.btn-iniciar {
    border-radius: 20px;
    padding: 8px 40px;
}

.caixa {
    margin-top: 80px;
}
.caixa-contato{
    background-color: rgb(32, 42, 60);
    margin-top: -180px;
    box-shadow: rgb(10, 9, 9);
    border-radius: 15px;
    z-index: 1;
    position: absolute;
}

.footer {
    margin-top: 150px;
    margin-bottom: -50px;
}