
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

body,
.menu {
    background-color: black;
}


footer{
    background-color: rgb(11, 21, 35);
}

footer .icon{
    background-color: rgb(11, 21, 35);
    border-color: rgb(11, 21, 35);
}

li{
    list-style-type: none;
}

.card-depoimentos {
    background-color: rgb(32, 42, 60);
    box-shadow:  rgb(42, 52, 71);
}

p{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 30px;
    text-align: justify;
}

h4,
h6 {
    color: white;
}

.title {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
}

.description {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.input-text {
    border-radius: 50px;
}

.img-onda {
    position: absolute;
    z-index: 1;
}

.col {
    background-color: aquamarine;
}

.aspas {
    position: absolute;
    z-index: 1;
}

.btn-iniciar {
    border-radius: 20px;
    padding: 8px 60px;
}

.caixa {
    margin-top: 80px;
}